@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

body, html, * {
    padding: 0;
    margin: 0;
}

body {
    padding: 1.5rem;
    font-family: "Open Sans";
    color: black;
    width: 75%;
    margin: 0 auto;
}

.dark body {
    background: rgb(26, 25, 25);
    color: white;
}

main {
    background-color: rgb(64, 58, 58);
    padding: 1.5rem;
}

form, input {
    width: 100%;
}

input {
    width: 95%;
    padding: 0.5rem;
}

form {
    margin-bottom: 0.5rem;
}