.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,0,0,0.5);
    backdrop-filter: blur(2px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.modal-content {
    background: white;
    padding: 1.5rem;
    border-radius: 12px;
    max-width: 750px;
    width: 100%;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.25rem 1rem;
    background-color: #2E2E3A;
    border-radius: 5px;
    margin-bottom: 0.75rem;
}

#left-header {
    color: white;
}

#right-header button {
    border-style: none;
    padding: 0.25rem;
    cursor: pointer;
}

#right-header button:hover {
    background-color: gray;
    transition: 0.3s;
}

.add-grocery {
    display: flex;
    gap: 1rem;
    margin-bottom: 0.5rem;
}

.add-grocery > input {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}

#remove-grocery-btn {
    background-color: red;
    border-style: none;
    padding: 0 0.25rem;
}

#cancel-btn, #submit-btn {
    border-style: none;
    color: white;
    width: 100%;
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
}

#cancel-btn {
    background-color: red;
}

#submit-btn {
    background-color: rgb(18, 74, 18);
}